.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 4%;
    padding: 1rem;
    justify-items: center; 
}

.Business {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* Equivalent to shadow-md */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 24rem; /* Equivalent to max-w-sm */
    width: 100%; /* Ensure it takes full width within its grid column */
    transition: transform 0.3s ease-in-out; /* Equivalent to transition-transform */
  }